/* fallback color */
/* html body {
  background-color: pink;
  background: linear-gradient(
    rgb(248, 246, 187),
    rgb(253, 231, 251),
    rgb(130, 213, 236)
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
} */

/* animated bg */
/* #video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */

header {
  background-color: rgb(82, 14, 138);
}

h1 {
  color: white;
  font-family: lobster;
  text-align: center;
  font-size: 100px;
}
h2 {
  text-align: center;
  font-family: lobster;
  color: rgb(82, 14, 138);
}

#grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 800px;
  margin-left: 400px;
}
/* For Mobile */
/* @media only screen and (max-width: 800px) {
  #grid {
    flex-wrap: wrap;
    margin-left: 50px;
    height: 300px;
    width: 400px;
  }
} */
/* @media only screen and (max-width: 800px) {
  html body {
    height: 100%;
    width: 100%;
  }
} */
/* For Desktop: */
/* @media only screen and (min-width: 800px) {
  #grid {
    flex-wrap: wrap;
    margin-left: 560px;
  }
} */
